@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Tagesschrift&display=swap');

body {
    font-family: 'Tagesschrift', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 5px;
    background-image: url(https://getwallpapers.com/wallpaper/full/d/5/c/952543-capcom-wallpaper-1920x1080-for-computer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f0f0f0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(3, 133, 255, 0.3);
    color: #ffffff;
    line-height:1.6;
}


header{
    background-color: rgba(154, 209, 255, 0.664);
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}